<h2><%= @business.name %> Summary:</h2>

	<div class="panel panel-default">
		<div class="panel-heading">Projects: <%=@business.projects.length%></div>
		
			<div class="panel-body">
				<% @business.projects.each do |project| %>
					<p><%= project.name %></p>
					<% end %>
			</div>
	</div>


	<div class="panel panel-default">
		<div class="panel-heading">Employees: <%=@business.employees.length%></div>
		
			<div class="panel-body">
				<% @business.employees.each do |employee| %>
					<p><%= employee.name %></p>
					<% end %>
		</div>
	</div>

	
	<div class="panel panel-default">
		<div class="panel-heading">Supplies: <%=@business.supplies.length%></div>
		
			<div class="panel-body">
				<% @business.supplies.each do |supply| %>
					<p><%= supply.name %></p>
					<% end %>
		</div>
	</div>



			