
	<% @businesses.each do |business| %>
	<div class="panel panel-default">
	<div class="panel-body">
 			<h2><%= "#{business.name} - Username: #{business.username} PW: '1'" %></h2>
			<h3>Projects:</h3>
			<% business.projects.each do |project| %>
				<h3><%= project.name %></h3>
				<h4>Employees: <% project.employees.each do |emp| %>
						<%= "#{emp.name} " %>
					<% end %>
				</h4>
				<h4>Supplies:
					<% project.supplies.each do |sup| %>
						<%= "#{sup.name} " %>
					<% end %>
				</h4>
			<% end %>
			</div>
 		</div>
	
	<% end %>

 	<%= erb :'layouts/_footer' %>